# --- PlatformIO ---
.pio/
.pioenvs/
.piolibdeps/
.pio/build/
.pio/libdeps/
.pio/test/
.pioinclude/
.pioinit*

# PlatformIO Core data
.platformio/

# Build outputs
build/
dist/

# --- VS Code ---
.vscode/
.vscode-test/

# --- Logs & Reports ---
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# --- Runtime & Cache ---
*.pid
*.seed
*.pid.lock
.cache/
.parcel-cache/
.temp/
coverage/
*.lcov
.nyc_output/

# --- Dependency Directories ---
node_modules/
bower_components/
jspm_packages/
web_modules/

# --- Environment Files ---
.env
.env.*
!.env.example

# --- Miscellaneous ---
.DS_Store
Thumbs.db
*.tgz
*.tsbuildinfo
.eslintcache
.stylelintcache
.yarn-integrity
.lock-wscript
.node_repl_history

## NODEJS
./server/.wwebjs_cache/*
./server/node_modules/*
./server/package*